.episode-player {
  display: inline-block;
  width: 59%;
  margin-left: 5%;
  padding: 2%;
  height: auto;
  box-shadow: 0px 6px 12px 2px #8888888f;
  border-radius: 5px;
  vertical-align: top; }
  .episode-player .episode-data {
    border-bottom: 1px solid grey;
    padding-bottom: 2%; }
    .episode-player .episode-data .title, .episode-player .episode-data .description, .episode-player .episode-data .sponsored {
      display: block; }
    .episode-player .episode-data .title {
      font-size: 20px;
      font-weight: bold; }
    .episode-player .episode-data .sponsored, .episode-player .episode-data .description {
      font-style: oblique; }
  .episode-player .audio-player {
    padding-top: 2%; }
    .episode-player .audio-player audio {
      width: 100%; }
